body {
    max-width: 1200px;
}

#open-setting-btn {
    background-image: url('../img/exo_ic_settings.png');
    width: 76px;
    height: 76px;
    border: none
}

#done-tasks {
    display: none;
}

input[id^="view-"] {
    width: 50%;
    color:black
}

#my-tasks {
    margin-top: 100px
}

#new-task {
    width: 80%;
    float: left;
}

#add-todo-btn {
    /* float:right; */
}

#done-tasks {
    margin-top: 100px;
}

li {
    margin-right: 0px;
    margin-left: 0px;
}
